.PictureTopContainer {
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrow a{
  display: flex;
  padding-top: 10px;
  margin-right:300px;
  color: #E41B23;
}

.PictureTopTitle{
  font-weight: 600;
  padding-bottom: 15px;
  margin-top: -10px;
}


.PictureTopContainer img {
  max-width: 150px;
}

/*the css for user name and user city is in the profile css*/