.navbarContainer {
height: 70px;
width: 100%;
background-color: #FDEFEF;
display: flex;
position: fixed;
top: 0;
color: #E41E1E;
font-weight: bolder;
z-index: 999;
}

.navbarLeft {
  display: flex;
  margin-left: 10px;
  


}

.navbarCenter {
  display: flex;
  justify-content: space-around;
}


.navbarRight {
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.logo {
  max-height: 70px;
  cursor: pointer;



}

.olympiword {
  padding-top: 15px;
  width: 100px;
}

.button {
  border-style: solid;
  Border-color: #E41E1E;
  border-radius:15%;
  border-width: 2.5px;
  font-weight: normal;
  padding: 1vw 2vw;
  font-size: max(2vw,16px);
  
}

.button a {
  text-decoration: none;
}

.signup-btn  {
  background-color: #E41E1E;
  color: #FDEFEF;
}