.navbarContainer {
height: 70px;
width: 100%;
background-color: #FDEFEF;
display: flex;
position: fixed;
top: 0;
color: #E41E1E;
font-weight: bolder;
z-index: 999;
}


.navbarLeft {
  display: flex;
  margin-left: 10px;
}

.navbarCenter {
  display: flex;
  justify-content: space-around;
}


.navbarRight {
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.logo {
  max-height: 70px;
  cursor: pointer;



}

.olympiword {
  padding-top: 15px;
  width: 100px;
  margin-left: -6px;
}

.button {
  border: 1px solid #E41E1E; 
  border-radius:10px;
  border-width: 2.5px;
  
}

.button a {
  text-decoration: none;
  font-weight: normal;
}

.signup-btn  {
  background-color: #E41E1E;
  color: #FDEFEF;
}

@media (min-width: 850px) {
  .navbarContainer {
    justify-content: center;
  }
}