.ProfileVideosContainer{
  display: flex;
  flex-direction: column;
  margin: 5px;
}



.VideosTitle{
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.EditPr {
  color: #E51B23;
  font-size: 13px;
}

.VideosSection{
margin-left: 35px;
  display: flex;
  flex-direction: row;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}
.videoContainer{
  display: flex;
  flex-direction: row;
  max-width: 100%;
  flex-wrap: wrap;
}
.video{
  position: relative;
  margin: 10px;
}
.deleteVideoButton{
  margin-top: 45px !important;
  margin-left: 174px;
  position: absolute;
  color: red;
  z-index: 1;
}
.deleteVideoButton:hover{
  cursor: pointer;
}
@media (max-width:485px)
{
  .video{
    margin: auto;
  }
  .video video{
    width: 300px;
    height: 300px;
  }
  .deleteVideoButton {
    margin-top: 70px !important;
    margin-left: 272px;
    z-index: 2;
  }
}