/* --------------------- */
/* ---- VIDEOUPLOAD ----- */
/* --------------------- */

.Video-upload {
  position:fixed;
  height: 90vh;
  top: 10vh;
  z-index:1;
  overflow-y: auto;
  
  padding:1.5em;
  
  box-shadow:0 0 1em rgba(0,0,0,.35);
  
  animation:appear .3s;
  background-color: white;
  width: 100%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;

  max-width: 700px;
  transform: translateX(-50%);
  left: 50%;

}

.Video-upload .error{
  color: red;

}

.Video-upload > a {
  position:absolute;
  right:20px;
  top:20px;
}

.Video-upload h2{
  text-align: center;
  font-size: 20px;
  font-weight: medium;
  margin-bottom: 25px;
}

.upload-form{
  position: relative;
}

.upload-form input[type="file"] {
  display: none;
}

.upload-form .upload-pretty{
  position: relative;
  width: 100%;
  border: 2px dashed #dfdfdf;
  background-color: #f5f5f5;
  min-height: 200px;
  margin-bottom: 20px;
}

.upload-form .upload-pretty p{
  color: #E41B23;
  padding-top: 10px;
  font-size: 14px;
}

.upload-form .upload-pretty .upload-file-name{
  color: #616161;
  padding-top: 10px;
  font-size: 12px;

}

.upload-form label{
  position: relative;
}

.upload-form .form-select{
  display: block;
}

.upload-form .form-select select{
  box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
  border-radius: 5px;
  font-size: 13px;
  border: none;
  background-color: white;
  color: #9b9b9b;
}

.upload-form .form-select--big select{
  display: block;
  width: 100%;
  height: 46px;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.upload-form input:not([type="radio"]){
  box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
  border-radius: 3px;
  font-size: 13px;
  border: none;
  height: 30px;
  padding-left: 10px;
  color: #9b9b9b;

}

.upload-form .form-input-row{
  display: flex;
  /* justify-content: space-evenly; */
  margin-bottom: 30px;
}

.upload-form .form-input-row input{
  max-width: 100px;
}

@media only screen and (max-width: 425px) {
  /* For mobile phones: */
  .upload-form .form-input-row input{
    max-width: 50px;
  }
}

.upload-form .form-input-weight-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.upload-form .form-input-row select{
  min-width: 50px;
  height: 30px;
  padding-left: 10px;
}

.upload-form .radio-row{
  margin-bottom: 20px;
}
.upload-form p{
  margin-right: 10px;
}
.upload-form .radio-row input{
  display: none;
}

.upload-form .radio-row label{
  background-color: #C7C7C7;
  color: white;
  padding: 4px 22px;
  border-radius: 4px;
  margin-right: 10px;
  font-size: 13px;
}

@media only screen and (min-width: 600px) {
  /* for tablets and desktop */
  .upload-form .radio-row label {
    padding: 4px 25px;
  }
}

.upload-form .radio-row input:checked + label {
  background-color:#E41B23;
}

.upload-form .category-container {
  display: flex;
  flex-flow: row;
  margin-top: 5px;
}

.upload-form textarea{
  width: 100%;
  box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
  border-radius: 3px;
  font-size: 13px;
  border: none;
  padding-left: 20px;
  padding-top: 20px;
  color: #9b9b9b;
  margin-top: 10px;
}

.upload-form .form-submit{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  position: relative;
}

.upload-form .form-submit input{
  background-color: #E41B23;
  max-width: 350px;
  width: 100%;
  height: 46px;
  text-align: center;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  font-size: 18px;
}

.upload-form .form-submit.is-uploading input{
  background-color: #a1a1a1;
  cursor: progress;
}


@keyframes appear {
  0% {opacity:0; transform:translateX(-50%) translateY(100vh);}
  100% {opacity:1; transform:translateX(-50%) translateY(0em);}
}



.lds-ring {
  display: none;
  position: absolute;
  width: 80px;
  height: 80px;
  transform: scale(0.5) translateY(-50%);
  right: calc(50% - 130px);
  top: 4px;
}

.upload-form .form-submit.is-uploading .lds-ring{
  display: block;  
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}