

.RecordTableContainer{
  background-color: #FDEFEF;
  margin-right: 27px;
  margin-left: 27px;
  border-radius: 10px;
  margin-bottom: 10px;
 
}


.PRtitle{
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.EditPr {
  color: #E51B23;
  font-size: 13px;
}

.RecordTableContainer thead {
  font-size: 13px;
  font-weight: 500;

  
}

.RecordTableContainer td {
  color: #E51B23;
  font-size: 11px;
  text-align: center;
  margin-right: 40px;
  border-bottom: 1px solid #70707010;

}

table {
  border-spacing: 0rem .6rem ;

  width: 90%;
  font-weight: 500;
  margin-left: 10px;
}
.PersonalRecordContainer > input[type=text], 
.PersonalRecordContainer input[type=date], 
.PersonalRecordContainer select {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
.PersonalRecordContainer .updateButton{
  background-color: #E41E1E;
  border: none;
  border-radius: 10px;
  color: #FDEFEF;
  font-weight: 400;
  font-size: 16px;
  margin: 10px 5px 40px;
  padding: 5px 15px;

}