.FiltersContainer {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
  padding-top: 5px;
  background-color: #ffffff;

}

.FiltersTitle{
font-size: 15px;
}

.FilterBtns button{
border: 1px solid #E51B23;
background-color: #ffffff;
border-radius: 4px;
color: #E51B23;
margin-left: 5px;
font-family: Poppins;
}