#Features{
  width:100%;
  display: flex;
  flex-direction: column;
  background-color: #ec6262;
}

.custom-shape-divider-top-1627737931 {
  position: absolute;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1627737931 svg {
  position: relative;
  display: block;
  width: calc(114% + 1.3px);
  height: 90px;
}

.custom-shape-divider-top-1627737931 .shape-fill {
  fill: #ffffff;
}



.title {
  padding-top: 70px; padding-bottom: 20px;
  font-size: 3.5em;
  color: #ffffff;
  text-align: center;
}

.FeaturesList{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;

}

.feature{
  display: flex;
  align-items: center;
  padding: 30px;

}

.feature.revert {
  flex-direction: row-reverse;
}

.featureTitle{
  color: #ffffff;
  font-size: 3em;
  line-height: 1.2em;
  padding: 30px;
}

.featureDesc{
  color: rgb(242, 232, 232);
  display: inline-block;
  padding: 0 100px;
}

.FeaturesList img {
  width: 50%;
  border-radius: 22px;
}


@media (max-width: 340px) {
  #Features .title h3 {
    font-size: 2.8rem;
  }
}

@media (max-width: 425px) {
  .FeaturesList,
  .feature,
  .feature.revert {
    flex-direction: column;
  }

  .featureTitle {
    font-size: 2em;
  }

  .featureDesc {
    padding: 0;
  }
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
  .custom-shape-divider-top-1627737931 svg {
      width: calc(100% + 1.3px);
      height: 90px;
  }
}

