#HowItWorks{
  background-color: #FAFAFA;
  width:100%;
  display: flex;
  flex-direction: column;
}


 .custom-shape-divider-top-1627919333 {
  position: absolute;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1627919333 svg {
  position: relative;
  display: block;
  width: calc(115% + 1.3px);
  height: 80px;
}

.custom-shape-divider-top-1627919333 .shape-fill {
  fill: #ec6262;
}

.titleHowitWorks{
  padding-top: 100px;
  padding-bottom: 20px;
  font-size: 3.5em;
  text-align: center;
}

.titleHowitWorks {
  color: #E41E1E;
}

.StepsList {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 60%;
  padding-bottom: 40px;
  text-align: center;
}


.StepTitle{
  align-items: center;
  color: #E41E1E;
  display: flex;
  font-size: 1.3em;
  font-weight: normal;
  line-height: 1.3;
  padding: 30px;
}

.StepTitle svg {
  height: 2em;
  width: 2em; 
}

.arrowIcon{
  padding-top: 20px;

}

.stepPhoto {
  margin: 0 auto;
  max-width: 80%;
}

.stepPhoto img{
width: 45%;
}


@media (max-width: 340px) {
  .titleHowitWorks {
    font-size: 2em;
  }
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
  .custom-shape-divider-top-1627919333 svg {
      width: calc(100% + 1.3px);
      height: 80px;
  }
} 

@media (max-width: 1024px) {
  .StepsList {
    max-width: 90%;
  }
}

@media (max-width: 768px) {
  .StepsList {
    flex-direction: column;
    max-width: 100%;
  }

  .stepPhoto {
    max-width: 50%;
  }
  
  .StepTitle {
    font-size: 1.1em;
    justify-content: center;
  }
}
