.IntroContainer{
  width:100%;
  display: flex;
  color: #E41E1E;
  background-color: white;
  flex-direction: column;
}

.description {
  padding-top: 100px;
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  font-size: 4vw;
}

.description h1{
  font-size: 2rem;
}

@media (min-width: 767px) {
  .description h1{
    font-size: 3rem;
  }

}

@media (min-width: 1024px) {
  .description h1{
    font-size: 4rem;
  }

}

.buttonsHomepage {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  padding: 20px;
  font-size: 1vw;
}

.phoneImg{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  
}

.Tagline {
text-align: center;
padding-right: 15px;
padding-left: 15px;
padding-bottom: 20px;
color: #250505;
}

.phonepic {
  max-height: 60%;
  max-width: 60%;
  background-color: white;
  padding-bottom: 15px;

}


