.IntroContainer{
  width:100%;
  display: flex;
  color: #E41E1E;
  height: 50%;
}

.description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 50%;
  font-size: 2vw;
  flex: 5;
}

.buttonsHomepage {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  padding: 20px;
  font-size: 1vw;
}

.phoneImg{
  display: flex;
  flex:3;
  justify-content: center;
  align-items: center;
  width: 50%;
  
}

img {
  max-height: 80%;
  max-width: 95%;

}


