.IntroContainer{
  width:100%;
  display: flex;
  color: #E41E1E;
  background-color: orange;
  flex-direction: column;
}

.description {
  padding-top: 100px;
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  font-size: 4vw;
}

.buttonsHomepage {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  padding: 20px;
  font-size: 1vw;
}

.phoneImg{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: orchid;
  width: 100%;
  
}

.Tagline {
padding-top: -50px;
background-color: palegreen;
}

img {
  max-height: 60%;
  max-width: 80%;
  background-color: orangered;

}


