/* --------------------- */
/* ---- FEEDHEADER ----- */
/* --------------------- */
.Feed-header {
  background: #FAFAFA; /* #FAFAFA */
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
}

.Feed-header .Feed-header-wrapper {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.Feed-header .Feed-header-wrapper + p {
  font-size: 14px;
  margin-top: 5px;
  width: 100%;
}

.Feed-header span {color: #E41E1E;}

.Feed-header .feed-header-actions{
  display: flex;
}

.Feed-header .upload-button,
.Feed-header .logout-button {
  position: relative;
  background: none;
  border: none;
  padding: 0;
}

.Feed-header .upload-button img,
.Feed-header .logout-button img{
  display: block;
}

.Feed-header .logout-button {margin-left: 20px;}

/* --------------------- */
/* ------- FEED -------- */
/* --------------------- */

.Feed {
  margin: 0 auto;
  padding-bottom: 90px;
}

.Feed-list-container{
  background-color: white;
  padding: 20px 20px;
}
